<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&amp;display=swapps://github.com/produle/MockFlowFont/blob/master/MockFlowFont1/dist/MockFlowFont1.woff" rel="stylesheet">

  <link rel="stylesheet" href="../../../libraries/reset.css">
  <link rel="stylesheet" href="../../../libraries/normalize.css">

  <link rel="stylesheet" href="./styles.css">

  <title>Document</title>
</head>
<body>
  <ul class="cards">
    <li>
      <a href="" class="card">
        <img src="./assets/card-1.png" class="card__image" alt="" />

        <div class="card__overlay">
          <div class="card__header">
            <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>
            <img class="card__thumb" src="./assets/avatar-1.png" alt="" />

            <div class="card__header-text">
              <h3 class="card__title">Jessica Parker</h3>
              <span class="card__status">1 hour ago</span>
            </div>
          </div>

          <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, blanditiis?</p>
        </div>
      </a>
    </li>

    <li>
      <a href="" class="card">
        <img src="./assets/card-2.png" class="card__image" alt="" />

        <div class="card__overlay">
          <div class="card__header">
            <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>
            <img class="card__thumb" src="./assets/avatar-2.png" alt="" />

            <div class="card__header-text">
              <h3 class="card__title">Kim Cattrall</h3>
              <span class="card__status">3 hours ago</span>
            </div>
          </div>

          <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, blanditiis?</p>
        </div>
      </a>
    </li>

    <li>
      <a href="" class="card">
        <img src="./assets/card-1.png" class="card__image" alt="" />

        <div class="card__overlay">
          <div class="card__header">
            <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>
            <img class="card__thumb" src="./assets/avatar-1.png" alt="" />

            <div class="card__header-text">
              <h3 class="card__title">Jessica Parker</h3>
              <span class="card__tagline">Lorem ipsum dolor sit amet consectetur</span>
              <span class="card__status">1 hour ago</span>
            </div>
          </div>

          <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, blanditiis?</p>
        </div>
      </a>
    </li>
  </ul>
</body>
</html>
