<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="../../../libraries/reset.css">
  <link rel="stylesheet" href="../../../libraries/normalize.css">

  <link rel="stylesheet" href="./styles.css">

  <title>Document</title>
</head>
<body>
<h1>Word Counter</h1>
  <div class="container">
    <textarea placeholder="Enter your text here..."></textarea>

    <div class="output-container">
      <div class="output">
        <p class="words">Words</p>
        <span data-word-count>0</span>
      </div>
      <div class="output">
        <p class="characters">Characters</p>
        <span data-character-count>0</span>
      </div>
      <div class="output">
        <p class="sentences">Sentences</p>
        <span data-sentence-count>0</span>
      </div>
      <div class="output">
        <p class="paragraphs">Paragraphs</p>
        <span data-paragraph-count>0</span>
      </div>
    </div>
  </div>

  <script src="./scripts.js"></script>
</body>
</html>
