.wrapper {
  width: 25%;
  padding: 1rem;
}

.circle {
  width: 100px;
  height: 100px;
  background-color: aqua;
  border-radius: 50%;
  margin: .5rem;

  float: left;
  shape-outside: circle(50% at 50% 50%);
}
