<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="../../../libraries/reset.css">
  <link rel="stylesheet" href="../../../libraries/normalize.css">

  <link rel="stylesheet" href="./styles.css">

  <title>Document</title>
</head>
<body>
  <div class="rotating-text">
    <p>CSS Animation is</p>

    <p>
      <span class="word alizarin">awesome.</span>
      <span class="word wisteria">beautiful.</span>
      <span class="word peter-river">creative.</span>
      <span class="word emerald">fabulous.</span>
      <span class="word sun-flower">interesting.</span>
    </p>
  </div>

  <script src="./scripts.js"></script>
</body>
</html>
